#DB related
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.hikari.maximumPoolSize=5
spring.jpa.generate-ddl=true

#DB cleaning related
test.db-cleaning=NO_CLEANING

#Jobs related
job.enrichment.dereference-url=
job.enrichment.entity-management-url=
job.enrichment.entity-api-url=
job.enrichment.entity-api-key=api2demo

job.indexing.preserveTimestamps=false
job.indexing.performRedirects=true
job.indexing.mongoInstances=
job.indexing.mongoPortNumber=27027
job.indexing.mongoDbName=metis-preview-test
job.indexing.mongoRedirectsDbName=metis-redirect-preview-test
job.indexing.mongoUsername=metis_test
job.indexing.mongoPassword=
job.indexing.mongoAuthDB=admin
job.indexing.mongoUseSSL=false
job.indexing.mongoReadPreference=PRIMARY_PREFERRED
job.indexing.mongoPoolSize=32
job.indexing.mongoApplicationName=batch-indexing

job.indexing.solrInstances=
job.indexing.zookeeperInstances=
job.indexing.zookeeperPortNumber=2282
job.indexing.zookeeperChroot=/
job.indexing.zookeeperDefaultCollection=search_test_preview

#OAI related
source.url=
source.setSpec=Heide1000elements
source.metadataPrefix=edm
source.recordCount=1000

#General
test.pause-between-tests-ms=1000
test.dataset-id=12


#Flink related
flink.jobManagerUrl=
flink.jar.id.oai=3c2af5ad-3005-4f5c-bb38-8eea9482171c_metis-processing-engine-oai-1.0-SNAPSHOT.jar
flink.jar.id.validation=58b42250-5795-4835-8b6a-651d0fed5ca8_metis-processing-engine-validation-1.0-SNAPSHOT.jar
flink.jar.id.transformation=5c88e975-cd98-4996-8e24-c58a6b1394b4_metis-processing-engine-transformation-1.0-SNAPSHOT.jar
flink.jar.id.normalization=063ee029-b1eb-4523-93f6-c2b4a355e3e4_metis-processing-engine-normalization-1.0-SNAPSHOT.jar
flink.jar.id.enrichment=4f6de8e7-dc78-4945-acd0-50b040ed1912_metis-processing-engine-enrichment-1.0-SNAPSHOT.jar
flink.jar.id.media=407bbb55-35c0-4c39-b17b-fb244126f1e2_metis-processing-engine-media-1.0-SNAPSHOT.jar
flink.jar.id.indexing=20cc3068-9caf-4939-871a-fd9722ca0f9c_metis-processing-engine-indexing-1.0-SNAPSHOT.jar

flink.jobManagerUser=
flink.jobManagerPassword=
flink.readerParallelism=8
flink.operatorParallelism=8
flink.sinkParallelism=8
flink.maxRecordPending=100
flink.chunkSize=100